<nav class="navbar bg-ligh justify-content-start gx-3" style="background-color: burlywood; padding:0">
    <img src="/foogle.png" width="120" height="50" class="d-inline-block align-top" alt="">
<a class="nav-link mx-2" href="/"><span style="font-weight: 600;">Search</span></a>
<a class="nav-link mx-2" href="/recipe_add"><span style="font-weight: 600;">Submit your recipe</span></a>
<a class="nav-link mx-2" href="/editmarket"><span style="font-weight: 600;">supermarket portal</span></a>
<a class="nav-link mx-2" href="/recipe_index"><span style="font-weight: 600;">recipe portal</span></a>
</nav>      