<form action="/search" method="post" class="gy-3">
    <input type="text" name="name" placeholder="what are you craving...">
    <input type="submit" value="Submit"/>
    <button type="button" id="more_precise" onclick="simple_to_adv()">more precise</button>
</form>