<form action="/search-adv" method="post" class="container >
    <span class="txt">please seperate each value with a comma ','</span>
    <input type="text" class="col-6" name="ingredient" placeholder="what ingredients?">
    <!-- <input type="text" class="col-6" name="cost" placeholder="what is your budget?"> -->
    <input type="text" class="col-6" name="loc" placeholder="which market are you going to?">
    <div>
        <input type="submit" value="Submit" />
        <button type="button" id="more_simple" onclick="adv_to_simple()">more simple</button>
    </div>
</form>